In [2]:
import pandas as pd

In [3]:
import json
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OneHotEncoder

# Abrir y cargar el archivo
with open('listMovies.json', 'r', encoding='utf-8') as f:
    contenido = json.load(f)

# Extraer el arreglo dentro de la propiedad 'data'
lista_datos = contenido['data']

# Convertirlo en un DataFrame
df = pd.DataFrame(lista_datos)

df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,152.957,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.704,26123
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",152.835,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.696,19804
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,180.248,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.577,11958
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,102.130,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.567,15360
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,86.315,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.543,8232

In [4]:
df.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [5]:
genre_json= {
  "genres": [
    {
      "id": 28,
      "name": "Action"
    },
    {
      "id": 12,
      "name": "Adventure"
    },
    {
      "id": 16,
      "name": "Animation"
    },
    {
      "id": 35,
      "name": "Comedy"
    },
    {
      "id": 80,
      "name": "Crime"
    },
    {
      "id": 99,
      "name": "Documentary"
    },
    {
      "id": 18,
      "name": "Drama"
    },
    {
      "id": 10751,
      "name": "Family"
    },
    {
      "id": 14,
      "name": "Fantasy"
    },
    {
      "id": 36,
      "name": "History"
    },
    {
      "id": 27,
      "name": "Horror"
    },
    {
      "id": 10402,
      "name": "Music"
    },
    {
      "id": 9648,
      "name": "Mystery"
    },
    {
      "id": 10749,
      "name": "Romance"
    },
    {
      "id": 878,
      "name": "Science Fiction"
    },
    {
      "id": 10770,
      "name": "TV Movie"
    },
    {
      "id": 53,
      "name": "Thriller"
    },
    {
      "id": 10752,
      "name": "War"
    },
    {
      "id": 37,
      "name": "Western"
    }
  ]
}

In [6]:
df = df.drop(columns=["backdrop_path","poster_path","video","original_title"])

In [7]:
df.head()

,adult,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count
0,False,"[18, 80]",278,en,Imprisoned in the 1940s for the double murder ...,152.957,1994-09-23,The Shawshank Redemption,8.704,26123
1,False,"[18, 80]",238,en,"Spanning the years 1945 to 1955, a chronicle o...",152.835,1972-03-14,The Godfather,8.696,19804
2,False,"[18, 80]",240,en,In the continuing saga of the Corleone crime f...,180.248,1974-12-20,The Godfather Part II,8.577,11958
3,False,"[18, 36, 10752]",424,en,The true story of how businessman Oskar Schind...,102.130,1993-12-15,Schindler's List,8.567,15360
4,False,[18],389,en,The defense and the prosecution have rested an...,86.315,1957-04-10,12 Angry Men,8.543,8232

In [8]:
# Asegurarte de que release_date sea tipo datetime
df['release_date'] = pd.to_datetime(df['release_date'])

# Crear nuevas columnas
df['year'] = df['release_date'].dt.year
df['month'] = df['release_date'].dt.month
df['day'] = df['release_date'].dt.day

In [9]:
df.head()

,adult,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,year,month,day
0,False,"[18, 80]",278,en,Imprisoned in the 1940s for the double murder ...,152.957,1994-09-23,The Shawshank Redemption,8.704,26123,1994,9,23
1,False,"[18, 80]",238,en,"Spanning the years 1945 to 1955, a chronicle o...",152.835,1972-03-14,The Godfather,8.696,19804,1972,3,14
2,False,"[18, 80]",240,en,In the continuing saga of the Corleone crime f...,180.248,1974-12-20,The Godfather Part II,8.577,11958,1974,12,20
3,False,"[18, 36, 10752]",424,en,The true story of how businessman Oskar Schind...,102.130,1993-12-15,Schindler's List,8.567,15360,1993,12,15
4,False,[18],389,en,The defense and the prosecution have rested an...,86.315,1957-04-10,12 Angry Men,8.543,8232,1957,4,10

In [10]:
df = df.drop(columns=["release_date"])

In [11]:
df.head()

,adult,genre_ids,id,original_language,overview,popularity,title,vote_average,vote_count,year,month,day
0,False,"[18, 80]",278,en,Imprisoned in the 1940s for the double murder ...,152.957,The Shawshank Redemption,8.704,26123,1994,9,23
1,False,"[18, 80]",238,en,"Spanning the years 1945 to 1955, a chronicle o...",152.835,The Godfather,8.696,19804,1972,3,14
2,False,"[18, 80]",240,en,In the continuing saga of the Corleone crime f...,180.248,The Godfather Part II,8.577,11958,1974,12,20
3,False,"[18, 36, 10752]",424,en,The true story of how businessman Oskar Schind...,102.130,Schindler's List,8.567,15360,1993,12,15
4,False,[18],389,en,The defense and the prosecution have rested an...,86.315,12 Angry Men,8.543,8232,1957,4,10

In [12]:
df.isnull().sum()

adult                0
genre_ids            0
id                   0
original_language    0
overview             0
popularity           0
title                0
vote_average         0
vote_count           0
year                 0
month                0
day                  0
dtype: int64

In [13]:
genre_df = pd.DataFrame(genre_json["genres"])

In [14]:
genre_df.head()

   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy
4  80      Crime

In [15]:
genre_df.shape

(19, 2)

In [16]:


# Instanciar el binarizador
mlb = MultiLabelBinarizer()

# Ajustar y transformar la columna genre_ids
genre_dummies = pd.DataFrame(mlb.fit_transform(df['genre_ids']),
                             columns=[f'genre_{g}' for g in mlb.classes_])

# Concatenar al DataFrame original
df = pd.concat([df, genre_dummies], axis=1)

In [17]:
df = df.drop(columns=["genre_ids"])
df.head(2)

,adult,id,original_language,overview,popularity,title,vote_average,vote_count,year,month,...,genre_37,genre_53,genre_80,genre_878,genre_9648,genre_10402,genre_10749,genre_10751,genre_10752,genre_10770
0,False,278,en,Imprisoned in the 1940s for the double murder ...,152.957,The Shawshank Redemption,8.704,26123,1994,9,...,0,0,1,0,0,0,0,0,0,0
1,False,238,en,"Spanning the years 1945 to 1955, a chronicle o...",152.835,The Godfather,8.696,19804,1972,3,...,0,0,1,0,0,0,0,0,0,0

In [18]:
df_recommender = df.copy()
df_recommender = df_recommender[['title','overview']]
df_recommender.head(2)

                      title                                           overview
0  The Shawshank Redemption  Imprisoned in the 1940s for the double murder ...
1             The Godfather  Spanning the years 1945 to 1955, a chronicle o...

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel
from pprint import pprint
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\franf\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
stop = list(stopwords.words('english'))
tf = TfidfVectorizer(stop_words=stop)
tfidf_matrix = tf.fit_transform(df['overview'])
tfidf_matrix.shape

(9361, 26393)

In [21]:
# calculamos las similitudes entre todos los documentos
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)
n = 5

# diccionario creado para guardar el resultado en un formato (autor - titulo : puntaje, titulo, autor)
results = {} 
for idx, row in df.iterrows():
    # guardamos los indices similares basados en la similitud coseno. Los ordenamos en modo ascendente, siendo 0 nada de similitud y 1 total
    similar_indices = cosine_similarities[idx].argsort()[:-n-2:-1] 
    # guardamos los N más cercanos
    similar_items = [(f"{df['title'][i]}", round(cosine_similarities[idx][i], 3)) for i in similar_indices]
    results[f"{row['title']}"] = similar_items[1:]

Mejorar para agregar las reviews

In [22]:
pprint(results['City of God'])

[('American Heist', np.float64(0.189)),
 ('Queen of Katwe', np.float64(0.18)),
 ('Falcon Rising', np.float64(0.132)),
 ('Pay It Forward', np.float64(0.126)),
 ('The Cameraman', np.float64(0.126))]

In [23]:
# Abrir y cargar el archivo
with open('reviewsFinal.json', 'r', encoding='utf-8') as f:
    contenido = json.load(f)

lista_datos = contenido['data']

df_reviews = pd.DataFrame(lista_datos)

df_reviews.head(2)

,author,author_details,content,created_at,id,updated_at,url,movieID
0,elshaarawy,"{'name': '', 'username': 'elshaarawy', 'avatar...",very good movie 9.5/10 محمد الشعراوى,2016-04-29T18:08:41.892Z,5723a329c3a3682e720005db,2021-06-23T15:57:47.190Z,https://www.themoviedb.org/review/5723a329c3a3...,278
1,John Chard,"{'name': '', 'username': 'John Chard', 'avatar...",Some birds aren't meant to be caged.\r\n\r\nTh...,2016-07-10T00:16:50.561Z,578193f29251417c28001764,2021-06-23T15:57:48.710Z,https://www.themoviedb.org/review/578193f29251...,278

In [24]:
df_reviews['rating'] = df_reviews.author_details.apply(lambda x: x['rating'])
df_reviews.head(2)

,author,author_details,content,created_at,id,updated_at,url,movieID,rating
0,elshaarawy,"{'name': '', 'username': 'elshaarawy', 'avatar...",very good movie 9.5/10 محمد الشعراوى,2016-04-29T18:08:41.892Z,5723a329c3a3682e720005db,2021-06-23T15:57:47.190Z,https://www.themoviedb.org/review/5723a329c3a3...,278,9.0
1,John Chard,"{'name': '', 'username': 'John Chard', 'avatar...",Some birds aren't meant to be caged.\r\n\r\nTh...,2016-07-10T00:16:50.561Z,578193f29251417c28001764,2021-06-23T15:57:48.710Z,https://www.themoviedb.org/review/578193f29251...,278,10.0

In [25]:
df_reviews = df_reviews[['author','content','rating','movieID']]
df_reviews.head(2)

,author,content,rating,movieID
0,elshaarawy,very good movie 9.5/10 محمد الشعراوى,9.0,278
1,John Chard,Some birds aren't meant to be caged.\r\n\r\nTh...,10.0,278

In [26]:
from surprise import SVD, Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import accuracy

# Crear ratings sintéticos si no hay usuarios reales
df = df[['id', 'vote_average']].copy()
df['user_id'] = 1  # Usuario ficticio

reader = Reader(rating_scale=(0, 10))
data = Dataset.load_from_df(df[['user_id', 'id', 'vote_average']], reader)

trainset, testset = train_test_split(data, test_size=0.2)
algo = SVD()
algo.fit(trainset)

predictions = algo.test(testset)
print("RMSE:", accuracy.rmse(predictions))

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\asyncio\base_events.py", line 640, in run_forever
    self._run_once()
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\asyncio\base_events.py", line 1992, in _run_once
    handle._run()
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\franf\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\franf\AppData\Local\Temp\ipykernel_11136\1454284267.py", line 1, in <module>
    from surprise import SVD, Dataset, Reader
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\site-packages\surprise\__init__.py", line 6, in <module>
    from .prediction_algorithms import (
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\site-packages\surprise\prediction_algorithms\__init__.py", line 23, in <module>
    from .algo_base import AlgoBase
  File "c:\Users\franf\anaconda3\envs\deep_learning\Lib\site-packages\surprise\prediction_algorithms\algo_base.py", line 8, in <module>
    from .. import similarities as sims

ImportError: numpy.core.multiarray failed to import (auto-generated because you didn't call 'numpy.import_array()' after cimporting numpy; use '<void>numpy._import_array' to disable if you are certain you don't need it).